<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="loopz.monkeydart"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="loopz.monkeydart.PortalActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="loopz.monkeydart.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName="loopz.monkeydart.PortalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="loopz.monkeydart.PortalActivity" />
        </activity>
    </application>

</manifest>